body{
    display: flex;
    justify-content: center;
}
.container{
    display: column;
    justify-content: center;
}
.container-second{
    text-align: center;
    
}

.inputNumber {
    display: flex;

} 
.opSelect{
    text-align: center;
    appearance: none;
    width:2rem;
    height: 2rem;
    margin: 10px 0;
    border: 3px solid rgb(59, 155, 211);
    border-radius: 10px;
    
}
.cont{
    text-align: center;
    border: 2px solid rgb(65, 178, 223);
    border-radius: 16px;
}